<div class="application-summary">
  <div class="application-header">
    <h2>
    Your Application
  </h2>
  </div>
  <div class="application-body">
    <div class="application-content">
      <div class="app-top"></div>
      <div class="app-bottom">
        <div class="app-head">
          <span [class]="symbol[i]" (click)="toggle()"></span><span class="nom">Recommendations</span>
          <div class="recommendations" ></div>
        </div>
        <div class="app-head">
          <span [class]="symbol[i]" (click)="toggle()"></span><span class="nom" n>Security Alerts</span>
          <div class="security" >

          </div>
        </div>
        <div class="app-head">
          <span [class]="symbol[i]" (click)="toggle()"></span><span class="nom">Liscenses</span>
          <div class="liscence" >
              <script src="components/c3/c3.min.js"></script>
              <script src="components/d3/d3.min.js"></script>
              <div id="donut-chart-7" class="donut-chart-pf example-donut-chart-mini"></div>
              <div style="text-align: center; width: 220px;"></div>
          </div>
        </div>
        <div class="app-head">
          <span [class]="symbol[i]" (click)="toggle()"></span><span class="nom">Metadatas</span>
          <div class="matadata" *ngIf="showtd">
            <span class="met">Group Id</span> <input type="text" value="{{g-id}}"> <br />
            <span class="met">Artifact Id</span> <input type="text" value= "{{a-id}}"> <br />
            <span class="met">Version</span> <input type="text" value= "{{version}}"> <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
