.application-summary {
    display: block;
    .application-header {
        margin: auto;
    }
    .application-body {
        .app-bottom {
            .app-head {
                margin-right: 10px;
                .nom {
                    font-size: 25px;
                    margin: 120px;
                }
            }
            .metadata {
                display: inline;
                .met {
                    margin: 30px;
                }
            }
        }
    }
}