/* @import (reference) '../../assets/stylesheets/shared/main.less'; */
.application {
    background-color: #F7F9FC;
    border:thin solid black;
    position: relative;
    width: 350px;
    height: 705px;
    margin-bottom: 200px;
    margin-right: 5px;
    margin-left: 5px;
    float: left;
    display:inline-block;
    vertical-align:middle;
}
.packages {
    background-color: #F7F9FC;
    border:thin solid black;
    position: relative;
    display:inline-block;
    vertical-align:middle;
    width: 800px;
    .header {
        position: relative;
        margin-left: 20px;
    }
    .content {
        position: relative;
        float: left;
        width: 25%;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 20px;
        display:inline-block;
        vertical-align:middle;
        .catagories {
        }
        .catagories-card {
            border:thin solid black;
            .tag-table {
                cellspacing:20px;
                font-size: 12px;
                width:100%;
                border-collapse: collapse;
                .tag-table-td-left {
                    text-align: left;
                    width:100%;
                    cursor:pointer;
                }
                .tag-table-td-right {
                    text-align: right;
                    width:100%;
                }
                .tag-table-td-label {
                    background:#BEC0BC;
                    padding-left:5px;
                    padding-right:5px;
                }
            }
            .tag-color{
                color: #00b9e4 ;
                font-weight: bold;
            }
        }
    }
    .dependencies {
        position:relative;
        float: right;
        width: 70%;
        margin-top: 10px;
        display:inline-block;
        vertical-align:middle;
        ::-webkit-scrollbar {
            width: 0.8em;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }

        ::-webkit-scrollbar-thumb {
            background-color: darkgray;
            outline: 1px solid slategrey;
        }
        .depn {
            overflow-y: auto;
            height: 600px;
            .display-dependencies {
                margin-top: 20px;
                .dependency-cards {
                    width: 100%;
                }
                .card-border {
                    border: 0.003em solid #BEC0BC
                }
                .tag-border {
                    border: 1px solid #727272;
                    border-radius: 8px;
                    font-size: 10px;
                    color: #AFAFAF;
                    margin-bottom: 5px;
                    margin-left: 2px;
                    margin-right: 2px;
                    float: left;
                    padding-left: 3px;
                    padding-right: 3px;
                }
                .dropbtn {
                    border-radius: 2px;
                    padding-left: 10px;
                    padding-right: 10px;
                    cursor: pointer;
                }
                .dropbtn:hover {
                    background-color: #beedf9;
                }
                .control {
                    display: block;
                    position: relative;
                    padding-left: 30px;
                    cursor: pointer;
                    font-size: 18px;
                }
                .control input {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }
                .control__indicator {
                    position: absolute;
                    top: 7px;
                    left: 0;
                    height: 20px;
                    width: 20px;
                    background: #E6E6E6;
                }
                .control input:checked ~ .control__indicator {
                    background: #2AA1C0;
                }
                .control:hover input:not([disabled]):checked ~ .control__indicator,
                .control input:checked:focus ~ .control__indicator {
                    /* background: #0E647D; */
                    background: #2AA1C0;
                }
                .control input:disabled ~ .control__indicator {
                    background: #E6E6E6;
                    opacity: 0.6;
                    pointer-events: none;
                }
                .control__indicator:after {
                    content: '';
                    position: absolute;
                    display: none;
                }
                .control input:checked ~ .control__indicator:after {
                    display: block;
                }
                .control--checkbox .control__indicator:after {
                    left: 8px;
                    top: 4px;
                    width: 3px;
                    height: 8px;
                    border: solid #FFF;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
                .control--checkbox input:disabled ~ .control__indicator:after {
                    border-color: #7B7B7B;
                }
                .dropdown-position {
                    position:absolute;
                    margin-top:0.7em;
                    margin-left: -10px;
                }
                .version {
                    cursor:pointer;
                    padding-left: 20px;
                }
            }
        }
        .search-dependencies {
            margin-bottom: 10px;
            margin-left: -5px;
            .dependency-typeahead {
                border: 0.15em solid #42A8E2;
                position: absolute;
                z-index:2;
                background:white;
                margin-left:16px;
                width:150px
            }
            .typeahead-text {
                padding-left: 10px;
            }
            .typeahead-text-first {
             background-color: #42A8E2;
             padding-left: 10px;
             /* font-weight: bold; */
            }
            .search-box {
                position:relative;
                padding-left:35px;
                width: 76%;
                height:30px; 
                /* z-index: -1; */
            }
            .search-icon {
                position:relative;
                left: 25px;
                color: gray;
                font-size: 18px;
                z-index: 2;
            }
            .filter-button {
                margin-left: 10px;
                border-width: 1px;
                width: 18%;
                height:30px; 
                background-color: white;
            }
        }
    }

    ::-webkit-input-placeholder {
        font-style: italic;
    }
    :-moz-placeholder {
        font-style: italic;
    }
    ::-moz-placeholder {
        font-style: italic;
    }
    :-ms-input-placeholder {
        font-style: italic;
    }
}
